General Instructions (Non-conformance will result in penalties):
- A report must be written for the assignment. Please make sure that the report is neat,
properly formatted, and contains all relevant information to the tasks in the assignment.
- Each question within the report shall not exceed 1 page. (Q1 in one page, Q2a and Q2b
in one page and so on).
- Grading of the assignment shall be done based on both, the codes and the report. The
report shall reflect your understanding regarding the concepts, methods that you have
used and the analysis of the results. Please keep the content of your reports crisp and
precise.
- Submission should contain the following three files - .ipynb file, .py file and report (.pdf).
Please name each of these as roll_number.ipynb, roll_number.py and roll_number.pdf.
- Within the code notebook, please make proper sections for each question as discussed
in the demonstration session.
- Any deviation from the above-mentioned submission format or deadline breach will result
in penalty in marks – a zero will be awarded.
- Even though intellectual discussion is encouraged, any plagiarism within the report is
completely unacceptable and will result in nullifying of marks and a possible action for
academic misconduct (according to the relevant institute regulations).
- The penalty policy, as shared earlier, shall apply for late submissions.
- The assignment must be done in a group of two. Submit only 1 report per group.

Q1: Data Preprocessing – 10 Marks<br>
You have been provided with a CSV file "Cars93.csv."<br>
The given dataset is related to cars and contains 26 columns.<br>
In the given dataset, “Price” is the target variable (i.e., the output).
<br><br>
The marks distribution according to the tasks are as follows:
1. Assign a type to each of the following features (a) Model, (b) Type, (c) Max. Price and (d) Airbags from the following: ordinal/nominal/ratio/interval scale.
2. Write a function to handle the missing values in the dataset (e.g., any NA, NaN values).
3. Write a function to reduce noise (any error in the feature) in individual attributes.
4. Write a function to encode all the categorical features in the dataset according to the type of variable jointly.
5. Write a function to normalize / scale the features either individually or jointly.
6. Write a function to create a random split of the data into train, validation and test sets in
the ratio of [70:20:10]

In [1]:
import pandas as pd
from IPython.display import display, HTML
from sklearn.preprocessing import OneHotEncoder

In [2]:
cars_df = pd.read_csv("Cars93.csv")

In [3]:
display(cars_df.head(2).T)

                          0                   1
Manufacturer          Acura               Acura
Model               Integra              Legend
Type                  Small             Midsize
Min.Price              12.9                29.2
Price                  15.9                33.9
Max.Price              18.8                38.7
MPG.city                 25                  18
MPG.highway              31                  25
AirBags                 NaN  Driver & Passenger
DriveTrain            Front               Front
Cylinders                 4                   6
EngineSize              1.8                 3.2
Horsepower              140                 200
RPM                    6300                5500
Rev.per.mile           2890                2335
Man.trans.avail         Yes                 Yes
Fuel.tank.capacity     13.2                18.0
Passengers                5                   5
Length                  177                 195
Wheelbase               102                 115
Width                    68                  71
Turn.circle              37                  38
Rear.seat.room         26.5                30.0
Luggage.room           11.0                15.0
Weight                 2705                3560
Origin              non-USA             non-USA

In [5]:
print(cars_df.dtypes)

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Weight                  int64
Origin                 object
dtype: object

In [6]:
cars_df.isna().sum()

Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags               34
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
dtype: int64

In [ ]:

enc = OneHotEncoder(handle_unknown='ignore',sparse_output=True)